<div class="form-container">
  <h2>Add Holding</h2>
  <%= form_with model: [portfolio, holding] do |form| %>
    <%= field_set_tag do %>
      <%= form.text_field :symbol, placeholder: "Holding symbol" %>
      <%= form.submit "Submit" %>
    <% end %>
  <% end %>
</div>