<%= render "form", portfolio: @portfolio, title: "Renaming Portfolio" %>

<form action="<%= portfolio_path(@portfolio) %>" method="delete">
  <button class="button btn-delete" data-turbo-method="delete" data-turbo-confirm="Are you sure you want to delete this portfolio and all its holdings?">
    <%= image_tag "delete.png", class: "btn-icon" %>
    Delete Portfolio
  </button>
</form>
