<p style="color: green"><%= notice %></p>

<article>
  <div class="article-header">
    <h2>Overview of Portfolios</h2>
  </div>

  <%= render "portfolio", portfolios: @portfolios %>
</article>

<%= render "form", portfolio: @portfolio, title: "Add Portfolio" %>