<% if notice %>
  <div class="flash-message"><%= notice %></div>
<% end %>

<%# Main container %>
<article>
  <div class="article-header">
    <div class="article-title">
      <h2>All Portfolios</h2>
    </div>
    <div class="article-nav">
      <form action="<%= new_portfolio_path(@portfolio) %>" method="get">
        <button class="button">
          <%= image_tag "add.png", class: "btn-icon" %>
          Add Portfolio
        </button>
      </form>
    </div>
  </div>

  <%= render "portfolio", portfolios: @portfolios %>
</article>
