<% if notice %>
  <div class="flash-message"><%= notice %></div>
<% end %>

<article>
  <div class="article-header">
    <h2>All Portfolios</h2>
  </div>
  <% button_to "Add", new_portfolio_path(@portfolio) %>

  <%= render "portfolio", portfolios: @portfolios %>
</article>

<%= render "form", portfolio: @portfolio, title: "Add Portfolio" %>