/* https://coolors.co/0d160b-4d6b06-8dbf00-c6d568-e3e6aa-fff6eb-d1b19b-a37765-785349 */

html {
  background-color: hsl(0 0% 95%);
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  min-width: 1000px;
  max-width: 1400px;
  margin: auto;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

article {
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  margin: 2rem auto;
  padding: 4rem 10%;
  width: 80%;
}

button,
input[type=submit] {
  align-items: center;
  background-color: #00241B;
  border: none;
  border-radius: 2rem;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  gap: 0.8rem;
  padding: 1rem 1.5rem;
  transition: 0.5s all;
}

button:hover, 
button:focus,
input[type=submit]:hover,
input[type=submit]:focus {
  background-color: #004936;
}

button:active,
input[type=submit]:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

fieldset {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  line-height: normal;
}

input[type=text] {
  border: 1px solid #00241B;
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  height: 2rem;
  margin: 1rem 0;
  padding: 0 0.5rem;
  width: 80%;
}

input[type=text]:focus {
  outline-color: #a8aa1d;
}

main {
  text-align: center;
}

nav {
  align-items: center;
  background-color: #00241B;
  color: white;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  padding: 1rem;
}

nav a:visited {
  color: white;
}

li {
  text-align: center;
  padding: 0 1rem;
}

p {
  text-align: left;
  font-size: 1.2rem;
  line-height: normal;
}

table {
  border-radius: 5px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  margin: 1rem auto;
  width: 100%;
  overflow: hidden;
}

thead tr {
  background-color: #4D6B06;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: small;
}

th, td {
  padding: 1rem;
  text-align: left;
}

tbody tr {
  background-color: #fdfcfb;
  border-bottom: 1px solid #8D8F00;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #4D6B06;
}

tbody tr:hover {
  background-color: #F3F9E3;
  color: #4D6B06;
}

/* Primary nav bar links */
/* ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
} */

.article-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.article-title {
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
  text-align: left;
}

.article-nav {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}

.breadcrumb {
  color: rgb(163, 163, 163);
}

.breadcrumb a {
  color: #4D6B06;
}

.breadcrumb a:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

.btn-icon {
  height: 1rem;
}

.caret-right::before {
  content: " > ";
  padding: 0 0.25rem;
}

.form-container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  margin: 2rem auto;
  padding: 3rem 0;
  text-align: center;
  width: 40%;
}

.flash-message {
  background-color: white;
  border-left: 0.5rem #004936 solid;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  font-weight: bold;
  line-height: 1.5rem;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  width: fit-content;
}

.logo-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 110%;
}

.logo-container img {
  height: 40px;
}

.logo-container p {
  font-family: 'Merriweather', serif;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 1px;
}

@media screen and (min-width: 1400px) {
  article {
    width: 100%;
  }
}